@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --font-family: 'Public Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
body,
html {
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--grayishBlue);
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.header__menu-icon{
  height: 1.5rem;
  width: 1.5rem;  
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__menu-icon.active{
    background-image: url(../images/icon-close.svg);
    height: 1rem;
    width: 1rem;
}

.header__nav{
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
    left: 0;
    top: 4rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.363);
    
}
.header__lista{
   margin: 1rem auto 0 auto;
    padding: 2rem 0;
    width: 90%;
    background-color: white;
    border-radius: 8px;
}
.header__item{
    margin-bottom: 1rem;
}
.header__item:last-child{
    margin-bottom: 0;
}
.header__link{
    text-decoration: none;
    color: var(--darkBlue);
}
.banner{
    text-align: center;
    min-height: 100vh;
}
.banner__div-mobile{
    background-image:url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
    background-size: cover, cover;
    background-position: 0% 160%, 0% 100%;
    background-repeat: no-repeat;
    height: 100vw;
}
.banner-container{
    max-width: 90%;
    margin: 0 auto;
}
.banner__titulo{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--darkBlue);

    line-height: 1.2;
    margin-bottom: 1rem;
}
.banner__descricao{

    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.botao{
    
    border: none;
    font-size: 18px;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--White);
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));

 
}
.descricao{
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--VeryLightGray);
}
.descricao__titulo{
    font-size: 2rem;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
    line-height: 1.2;
}
.descricao__titulo-card{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
    line-height: 1.2;
}
.descricao-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descricao__subTitulo{
    line-height: 1.5;
  
    letter-spacing: -1px;
}
.descricao__card{
    padding-top: 2rem;
}
.descricao__imagem{
    display: inline-block;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.online{
    background-image: url(../images/icon-online.svg);
}
.budgeting{
    background-image: url(../images/icon-budgeting.svg);
}
.onboard{
    background-image: url(../images/icon-onboarding.svg);
}
.api{
    background-image: url(../images/icon-api.svg);
}
.descricao__titulo{
    color: var(--darkBlue);
    font-weight: 400;
    font-size: 1.33rem;
    margin-bottom: 1rem;
}
.descricao__paragrafo{
    line-height: 1.5;
    letter-spacing: -1px;
}
.lastArticles{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--LightGrayishBlue);
}
.lastArticles-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.lastArticles__titulo{
    font-size: 2rem;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
    line-height: 1.2;
}
.lastArticles__card{
   background-color: var(--White);
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;
}
.info-container{
    padding: 1.5rem 1rem 3rem 1rem;
}
.lastArticles__autor{
    display: inline-block;
    font-size: 14px;
    margin: 1rem 0;
}
.lastArticles__titulo-card{
    font-size: 20px;
    font-weight: 400;
    color: var(--darkBlue);
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 1rem;

}
.lastArticles__titulo-card:hover{
    cursor: pointer;
    color: var(--limeGreen);
}
.lastArticles__img{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}
.confetti{
    background-image: url(../images/image-confetti.jpg);
}
.plane{
    background-image: url(../images/image-plane.jpg);
}
.restaurant{
    background-image: url(../images/image-restaurant.jpg);
}
.currency{
    background-image: url(../images/image-currency.jpg);
}
footer{
    background-color: var(--darkBlue);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 50%;
}
.lista__links{
    text-align: center;
}
.item{
    margin-bottom: 1rem;
}
.item:last-child{
    margin-bottom: 0;
}
.link{

    text-decoration: none;
    color: var(--White);
    font-weight: 400;
}
.link:hover{
    cursor: pointer;
    color: var(--limeGreen);
}

.facebook{
    background-image: url(../images/icon-facebook.svg);
}
.twitter{
    background-image: url(../images/icon-twitter.svg);
}
.pinterest{
    background-image: url(../images/icon-pinterest.svg);
}
.instagram{
    background-image: url(../images/icon-instagram.svg);
}
.youtube{
    background-image: url(../images/icon-youtube.svg);
}
.footer__botao{
    margin: 0;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.active{
    display: initial;
}
.header__button{
    display: none;
}
.banner__img-desktop{
    display: none;
}
@media screen and (min-width: 1024px) {
   
    .container{
     max-width: 80%;
   }
   .banner-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: start;
    width: 55%;
    justify-self: start;
   }
   .banner__img-desktop{
    grid-column: 2 /3;
    display: grid;
    position: relative;
    top: 0%;
    right: 0%;
    object-fit: cover;
    background-image: url(../images/image-mockups.png);
    height: 939px;
    z-index: 1;
   }
   .banner{
    min-height: auto;
    height: 85vh;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 224% 80%;
    background-size: 80%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 100%;
    align-items: center;

   }
   .banner__div-mobile{
     display: none;
   }
   .botao{
    padding: 12px 24px;
    font-size: 16px;
   }
   .botao:hover{
    
    opacity: .7;
    cursor: pointer;
   }
   .header{
    height:5rem;
    background-color: var(--White);
    position: relative;
    z-index: 100;
   }
   .header-container{
    height: 100%;
   }
    .header__button{
        display: block;
    }
    .header__nav{
        position: static;
        display: block;
        height: auto;
        width: auto;
        background-color: inherit;
        
    }
    .header__menu-icon{
        display: none;
    }
    .header__lista{
        display: flex;
        gap: 1rem;
        padding: 0;
        height: 100%;
        margin:0;
        width: 100%;
        align-items: center;
    }
    .header__link{
        color: var(--grayishBlue);
        
    }
    .header__link:hover{
        padding-bottom: 32px;
        border-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
        border-bottom-width: 5px;
        border-style: solid;
        border-image-slice: 1;
    }
   
    .header__item{
        margin-bottom: 0;
    }
    .descricao{
        padding: 4rem 10%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        text-align: start;
        row-gap: 4rem;
    }
    .textos-container{
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        width: 60%;
        text-align: justify;
    }
    .descricao-cards{
        gap: 1rem;
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

    }
    .descricao__card{
        width: 25%;
        padding-top: 0;
    }
    .descricao__titulo{
        font-size: 2rem;
    }
    .descricao__imagem{
        height: 4rem;
        width: 4rem;
        margin-bottom: 2rem;
    }
   
    .lastArticles__titulo{
        align-self: flex-start;
        margin-left: 10%;
    }
    .lastArticles-cards{
        flex-direction: row;
        max-width: 80%;
        align-items: stretch;
        gap: 1rem;
    }
    .info-container{
        padding:1rem;
    }
    .lastArticles__resumo{
        font-size: 16px;
    }
    .lastArticles__autor{
        margin: 0 0 1rem 0;
    }
    footer{
        padding: 4rem 10%;
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr;
        grid-template-rows: auto auto;
        gap: 1.5rem;
        align-items: flex-start;
    }
    footer img{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .redes-sociais{
        grid-row: 2/3;
        grid-column: 1 / 2;
        width: 80%;
    }
    .lista__links{
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: 1fr auto auto;
       row-gap: 1rem;
       column-gap: 5rem;
       grid-row: 1 / 3;
       grid-column: 2 / 3;
    }
    .item{
        margin-bottom: 0;
    }
    .botao-box{
        width: 40%;
        background-color: var(--White);
        border-radius: 2rem;
        justify-self: flex-end;
    }
    .footer__botao{
    
        width: 100%;
    }
    footer p{
        justify-self: flex-end;
    }
    .redes-sociais__icon:hover{
        cursor: pointer;
    }
    .redes-sociais__icon:hover path{
        fill: var(--limeGreen);
        cursor: pointer;
    }
}